@charset "utf-8";
@import url('reset.css');
@import url('common.css');
@import url('common.scss');

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --header-height : 100px;
    --font : font-family: 'Nanum Gothic', sans-serif;
    
    --title-margin-top : 10rem;
    --tilte-margin-bottom : 6rem;

    --font-en : 16px;
    --font-kr : 32px;

    --color-red : #fe5356;
    --color-orange : #f27249;
}

html,body {font-size: 62.5%;}
.mobile {display: none;}
.mobile-767 {display: none;}
.style_list_767 {display: none;}
.inner {
    max-width: 1400px;
    width: calc(100% - 40px);
    margin: 10rem auto;
}

.premium_main_visual {
    margin: var(--header-height) auto;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.premium_menu {
    .premium_menu_list {
        margin: 0 auto;
        .list {
            display: flex;
            justify-content: center;
            gap: 28px;
            .item {
                width: 7.5%;
                figure:hover {
                    border: 1px solid #333;
                    border-radius: 50%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                p {
                    margin-top: 8px;
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }

    }
}

.premium_text {
    position: relative;
    .title {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .filter {
        .filter_title {
            padding: 15px 0;
            font-size: 1.8rem;
            button {
                width: 66px;
                height: 28px;
                background-color: #333;
                color: #fff;
            }
            &::before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #a6a6a6;
                position: absolute;
                top: 41px;
                left: 0;
            }
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #a6a6a6;
                position: absolute;
                top: 100px;
                left: 0;
            }
        }/* filter_title */
        .list {
            display: flex;
            .item {
                padding: 20px 0;
                margin-left: 20px;
                width: calc(100% / 5);
                border-right: 1px solid #a6a6a6;
                h4 {
                    font-size: 1.6rem;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        font-size: 1.6rem;
                        padding: 5px 0;
                        input {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
        }
    }/* filter */
}

.premium_glasses_list {
    .inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px;
        .item {
            width:23.5%;
            position: relative;
            figure {
                height: 32.5vh;
                border: 1px solid #a6a6a6;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            div {
                margin-top: 12px;
                font-size: 1.5rem;
                word-break: keep-all;
                h2 {
                    font-weight: bold;
                    margin-top: 8px;
                    margin-bottom: 20px;
                }
                .pay {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 1.8rem;
                    font-weight: bold;
                    span {
                        color: var(--color-orange);
                        margin-right: 5px;
                    }
                }/* pay*/
                .sale {
                    width: 46px;
                    height: 23px;
                    background-color: var(--color-red);
                    color: #fff;
                    text-align: center;
                    margin-top: 15px;
                }
                .heart {
                    width: 35px;
                    position: absolute;
                    bottom: 20%;
                    right: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }/* div */
        }/* item */
    }/* inner */
}/* premium_glasses_list */